# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
# ----- auto_update -----
# install_requires:
clairvoyance2 >=0.0.2
cloudpickle
geomloss>=0.2.6
hydra-core >=1.3
hyperimpute >= 0.1.17
importlib-metadata; python_version<"3.8"
joblib < 1.3.0; python_version=="3.7" and platform_system=="Windows"
lifelines != 0.27.5
loguru
numpy >=1
optuna >= 2.8.0
packaging
pandas >=1
pandera >=0.13
pydantic >=1, <2
rich
scikit-learn >= 1.0
scipy
seaborn
torch
torchcde
torchdiffeq
torchlaplace >= 0.0.4
tsai
typing-extensions >= 4.7.1
xgbse
# dev:
black[jupyter]
blacken-docs
build
flake8
isort
jupyter
mypy >= 1.0.0
myst-parser
pre-commit
pylint
pyscaffold
pyscaffoldext-markdown >= 0.5
pytest
pytest-cov
pytest-xdist
setuptools
setuptools-scm
sphinx >=5, !=5.1.0  # Bug in version 5.1.0.
sphinx-material
tox
twine
# ----- auto_update -----
